.my-custom-alert {
  max-width: 50rem; /* Puedes ajustar este valor según tus preferencias */
}

.my-custom-card-home {
  width:50%;
  height: 50%;
}

.my-custom-card-text {
  width:100%;
  height: 100%;
}

body {
  background-color: #b6c1ff;
}